<!DOCTYPE html>
<html>
<head>
    <title>{{matchup.matchup_title}}</title>
</head>
<body>
<p>{{matchup.home_team.team_name}}</p>
<p>{{home_wins}}</p>
<p>{{home_losses}}</p>
<p>{{matchup.away_team.team_name}}</p>
<p>{{away_wins}}</p>
<p>{{away_losses}}</p>
<table border="1">
    <tr>
        <th>Bookmaker</th>
        <th>Bet Type</th>
        <th>Selected Team</th>
        <th>Odds</th>
    </tr>
    {% for bet in all_bets %}
    <tr>
        <td>{{bet.bookmaker}}</td>
        <td>{{bet.bet_type}}</td>
        <td>{{bet.selected_team}}</td>
        <td>{{bet.price}}</td>
    </tr>
    {% endfor %}
</table>
<a href="/gameInfo/"> Go Back</a>
</body>
</html>